.single {
  padding: 10px;
  background: rgb(0, 0, 0);
  display: inline-flex;
  margin: 20px 10px;
  border-left: 8px solid #fff;
  color: #fff;
  font-size: 16px;
  width: 300px;
  height: 60px;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
.single:hover {
  border-left: 8px solid #1eff00;
  background-color: rgb(43, 42, 42);
}

.price {
  padding: 2px;
  background: rgb(255, 255, 255);
  display: inline-flex;
  margin: 20px 10px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  width: 150px;
  height: 60px;
  justify-content: center;
  border-radius: 5px;
}

.count_display {
  box-sizing: border-box;
  font-weight: bold;
  color: black;
  font-size: 20px;
  padding-top: 2px;
  width: 50px;
  display: inline-flex;
  margin-left: 5px;
  justify-content: center;
}

.count_btn {
  box-sizing: border-box;
  background-color: rgb(54, 82, 54);
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 5px;
  margin-right: 10px;
  width: 90px;
  display: inline-flex;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  border-radius: 5px;
}

.count_btn_remove {
  box-sizing: border-box;
  background-color: rgb(245, 167, 167);
  color: black;
  font-size: 16px;
  padding: 5px;
  width: 80px;
  display: inline-flex;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 800;
  justify-content: center;
}
.count_btn:hover {
  background-color: rgb(51, 143, 89);
}
.count_btn_remove:hover {
  background-color: rgb(241, 37, 37);
}

.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
}

.prod_img {
  display: block;
  padding: 20px;
}
.addtocart {
  box-sizing: border-box;
}
.button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 16px;
  width: 50%;
  cursor: pointer;
  margin-top: 20px;
  height: 60px;
  border-radius: 10px;
}
.button:hover {
  background-color: #88e67c9d;
  border-style: none;
  color: black;
  font-weight: 800;
}
.name {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 900;
  padding: 5px;
}
.pass {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 900;
  padding: 5px;
}
.name input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.pass input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.back_button {
  color: rgb(250, 250, 250);
  text-decoration: none;
  display: block;
  width: 120px;
  height: 40px;
  font-size: 18px;
  background-color: #333;
  text-align: center;
  border-radius: 5px;
  font-family: "Nunito";
  margin-bottom: 20px;
  cursor: pointer;
}
.back_button:hover {
  background-color: #5d6b5b;
  border-style: none;
}
.signup_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.btn_up {
  background-color: #333;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  width: 120px;
  height: 40px;
  font-size: 18px;
  background-color: #333;
  text-align: center;
  border-radius: 5px;
  font-family: "Nunito";
  margin-bottom: 20px;
  font-weight: 800;
  cursor: pointer;
}
.btn_up:hover {
  background-color: rgb(98, 241, 129);
  color: #000;
}
